@font-face {
  font-family: "iconfont"; /* Project id 3612661 */
  src: url('@/common/iconfont.woff2?t=1661771822970') format('woff2'),
       url('@/common/iconfont.woff?t=1661771822970') format('woff'),
       url('@/common/iconfont.ttf?t=1661771822970') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshang2:before {
  content: "\e76e";
}

.icon-xiangxia2:before {
  content: "\e772";
}

.icon-zhankaishangxia:before {
  content: "\e7b1";
}

.icon-shouye:before {
  content: "\e629";
}

.icon-icon:before {
  content: "\e6a0";
}

.icon-fangdajing:before {
  content: "\e800";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-shangjiantou:before {
  content: "\eb6e";
}

.icon-24gl-cartFull4:before {
  content: "\e87a";
}

